<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

 
<div class="container-fluid pt-3" style="max-width:100%"> 
   
  <div class="flexedblack pt-0 pb-0" style="max-width:100%">
    <span class="f p-2 text-white">WHAT'S HAPPENING AT SMC  </span>
               <button class="tablinksblack is-ghost" >
             <img src="./assets/icons/icon_smc.png" class="btn1"></button> </div>

 <div class="d-flex  justify-content-center  h-100" style="max-width:100%;max-height:300px" >                 
<div class="overflow-auto pt-3 pl-2"  *ngIf="calendarpolicy" [innerHTML]="calendarpolicy" style="max-width:100%">
   </div><div class="imagehide">
 <img src="./assets/image-calendar1.png" class="img-fluid h-100 w-100">
  </div>   </div>
   
  <div class="flexedblack mb-2 pt-0 pb-0" style="max-width:100%">
    <span class="f p-2 text-white">VIEW EVENT SCHEDULE </span>
 <button class="tablinksblack is-ghost" (click)="showcontentthis('events');getevents()" matTooltip="View Schedule" matTooltipClass="primarybgd has-text-white is-size-7">
    <img src="./assets/icons/icon_calendar.png" class="btn1"></button> 
</div>


<div class="container-fluid  mt-2 f" style="max-width:100%" *ngIf="showcontacts == 'events'">
  <ul class="flexedblack1 mb-2 mt-2" style="max-width:100%" *ngFor="let event of events">
 <li class="f mb-1" style="max-width:100%" *ngIf="event.Portal_Id__c && event.Portal_Id__c == portalid "> 
    <button class="f tablinksblack is-ghost pt-2 mb-1"   #showevent value="{{event.Id}}" name="{{event.Display_Name__c}}" (click)="showevents(showevent.value);showeventtype(showevent.name);showcontentthis('items')">{{event.Display_Name__c}}</button></li>
 </ul></div>
      
 

    <div *ngIf="showcontacts == 'items'" style="overflow-y:scroll">

        <div class="flexedblack1 mb-2 mt-2 pl-2 pt-2 pb-2 text-white f" style="max-width:100%" *ngIf="eventtype && eventtype != ''" >       
           RECURRING WEEKLY    </div>
  
           <div class="flexedsilver1 mb-0 pt-0 pb-0" style="max-width:100%">
         <button class="tablinks is-ghost">
            <img src="./assets/icons/Mondayblue.png" class="btn1"></button> 
        </div>

              <ul  *ngFor="let hour of hours">
           <li *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Monday' ">
             
            <div class="is-flex">
            <div class=" is-flex primaryborder has-background-white  is-align-content-stretch" style="width:65vw" >
              <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">   
              {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}
             </div>
             <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 primaryfont">     
       {{hour.Display_Name__c}} 
      </div>
      <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">    
      {{hour.Display_Description__c}} 
      </div>
      <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2" *ngIf="hour.Presenter_Display_Name__c">   
     Presenter: {{hour.Presenter_Display_Name__c}} 
    </div></div>
    <div class=" ml-2 is-flex primaryborder has-background-white is-pulled-right" style="width:10vw">
    <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
   {{hour.Operating_Hours_Type__c}}
   </div>
   <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}
     </div>
      </div></div>
        </li></ul>

          
           <button class="button is-fullwidth is-small is-white mb-5 mt-5">  <img src="./assets/icons/Tuesdayblue.png" style="width:60px"></button>
           <ul  *ngFor="let hour of hours">
           <li *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Tuesday' ">
             
            <div class="is-flex">
            <div class=" is-flex primaryborder has-background-white  is-align-content-stretch" style="width:65vw" >
              <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">   
              {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}
             </div>
             <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 primaryfont">     
       {{hour.Display_Name__c}} 
      </div>
      <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">    
      {{hour.Display_Description__c}} 
      </div>
      <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2" *ngIf="hour.Presenter_Display_Name__c">   
     Presenter: {{hour.Presenter_Display_Name__c}} 
    </div></div>
    <div class=" ml-2 is-flex primaryborder has-background-white is-pulled-right" style="width:10vw">
    <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
   {{hour.Operating_Hours_Type__c}}
   </div>
   <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}
     </div>
      </div></div>
        </li></ul>

    <button class="button is-fullwidth is-small is-white mb-5 mt-5">  <img src="./assets/icons/Wednesdayblue.png" style="width:60px"></button>
    <ul  *ngFor="let hour of hours">
      <li *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Wednesday' ">
 
        <div class="is-flex">
          <div class=" is-flex primaryborder has-background-white  is-align-content-stretch" style="width:65vw" >
            <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">   
            {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}
           </div>
           <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 primaryfont">     
     {{hour.Display_Name__c}} 
    </div>
    <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">    
    {{hour.Display_Description__c}} 
    </div>
    <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2" *ngIf="hour.Presenter_Display_Name__c">   
   Presenter: {{hour.Presenter_Display_Name__c}} 
  </div></div>
  <div class=" ml-2 is-flex primaryborder has-background-white is-pulled-right" style="width:10vw">
  <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
 {{hour.Operating_Hours_Type__c}}
 </div>
 <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}
   </div>
    </div></div>
  </li></ul>

  <button class="button is-fullwidth is-small is-white mb-5 mt-5">  <img src="./assets/icons/Thursdayblue.png" style="width:60px"></button>
  <ul  *ngFor="let hour of hours">
    <li *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Thursday' ">

      <div class="is-flex">
        <div class=" is-flex primaryborder has-background-white  is-align-content-stretch" style="width:65vw" >
          <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">   
          {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}
         </div>
         <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 primaryfont">     
   {{hour.Display_Name__c}} 
  </div>
  <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">    
  {{hour.Display_Description__c}} 
  </div>
  <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2" *ngIf="hour.Presenter_Display_Name__c">   
 Presenter: {{hour.Presenter_Display_Name__c}} 
</div></div>
<div class=" ml-2 is-flex primaryborder has-background-white is-pulled-right" style="width:10vw">
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
{{hour.Operating_Hours_Type__c}}
</div>
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}
 </div>
  </div></div>
</li></ul>

<button class="button is-fullwidth is-small is-white mb-5 mt-5">  <img src="./assets/icons/Fridayblue.png" style="width:60px"></button>
<ul  *ngFor="let hour of hours">
  <li *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Friday' ">

    <div class="is-flex">
      <div class=" is-flex primaryborder has-background-white  is-align-content-stretch" style="width:65vw" >
        <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">   
        {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}
       </div>
       <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 primaryfont">     
 {{hour.Display_Name__c}} 
</div>
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">    
{{hour.Display_Description__c}} 
</div>
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2" *ngIf="hour.Presenter_Display_Name__c">   
Presenter: {{hour.Presenter_Display_Name__c}} 
</div></div>
<div class=" ml-2 is-flex primaryborder has-background-white is-pulled-right" style="width:10vw">
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
{{hour.Operating_Hours_Type__c}}
</div>
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}
</div>
</div></div>
</li></ul>

<button class="button is-fullwidth is-small is-white mb-5 mt-5">  <img src="./assets/icons/Saturdayblue.png" style="width:60px"></button>
<ul  *ngFor="let hour of hours">
  <li *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Saturday' ">

    <div class="is-flex">
      <div class=" is-flex primaryborder has-background-white  is-align-content-stretch" style="width:65vw" >
        <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">   
        {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}
       </div>
       <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 primaryfont">     
 {{hour.Display_Name__c}} 
</div>
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">    
{{hour.Display_Description__c}} 
</div>
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2" *ngIf="hour.Presenter_Display_Name__c">   
Presenter: {{hour.Presenter_Display_Name__c}} 
</div></div>
<div class=" ml-2 is-flex primaryborder has-background-white is-pulled-right" style="width:10vw">
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
{{hour.Operating_Hours_Type__c}}
</div>
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}
</div>
</div></div>
</li></ul>

<button class="button is-fullwidth is-small is-white mb-5 mt-5">  <img src="./assets/icons/Sundayblue.png" style="width:60px"></button>
<ul  *ngFor="let hour of hours">
  <li *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Sunday' ">

    <div class="is-flex">
      <div class=" is-flex primaryborder has-background-white  is-align-content-stretch" style="width:65vw" >
        <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">   
        {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}
       </div>
       <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 primaryfont">     
 {{hour.Display_Name__c}} 
</div>
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">    
{{hour.Display_Description__c}} 
</div>
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2" *ngIf="hour.Presenter_Display_Name__c">   
Presenter: {{hour.Presenter_Display_Name__c}} 
</div></div>
<div class=" ml-2 is-flex primaryborder has-background-white is-pulled-right" style="width:10vw">
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
{{hour.Operating_Hours_Type__c}}
</div>
<div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}
</div>
</div></div>
</li></ul>
              </div>
          
              <div  *ngIf="eventtype && eventtype != ''" class="secondbgd" style="overflow-y:scroll;" >       
                <div class="primarybgd has-text-centered has-text-white title is-3 mt-4"  >   NON-RECURRING    </div>
                <button class="button is-fullwidth is-small is-white mb-3 mt-2">  <img src="./assets/icons/Dayblank.png" style="width:60px"></button>
                <ul  *ngFor="let hour of hours">
                  <li *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c != 'Weekly' && (hour.Start_Month__c == portalmonthnext || hour.Start_Month__c == portalmonth) && hour.Start_Year__c == portalyear ">
                
                 
                    <div class="is-flex">
                      <div class=" is-flex primaryborder has-background-white  is-align-content-stretch" style="width:65vw" >
                        <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">   
                        {{hour.Start_Day__c}}/{{hour.Start_Month__c}}/{{hour.Start_Year__c}} to {{hour.End_Day__c}}/{{hour.End_Month__c}}/{{hour.End_Year__c}}
                       </div>
                       <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 primaryfont">     
                 {{hour.Display_Name__c}} 
                </div>
                <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2">    
                {{hour.Display_Description__c}} 
                </div>
                <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2" *ngIf="hour.Presenter_Display_Name__c">   
               Presenter: {{hour.Presenter_Display_Name__c}} 
              </div></div>
              <div class=" ml-2 is-flex primaryborder has-background-white is-pulled-right" style="width:10vw">
              <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
             {{hour.Operating_Hours_Type__c}}
             </div>
             <div class="mr-2 ml-2 pt-2 pb-2 pl-2 pr-2 is-pulled-right" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}
               </div>
                </div></div>
              </li></ul>  
            </div>
                </div>
   
