<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

 
<div class="container-fluid pt-3" style="max-width:100%"> 
   
  <div class="flexedblack pt-0 pb-0" style="max-width:100%">
    <span class="f p-2 text-white">WHAT'S HAPPENING AT SMC  </span>
               <button class="tablinksblack is-ghost" >
             <img src="./assets/icons/icon_smc.png" class="btn1"></button> </div>

 <div class="d-flex  justify-content-center  h-100" style="max-width:100%;max-height:300px" >                 
<div class="overflow-auto pt-3 pl-2"  *ngIf="calendarpolicy" [innerHTML]="calendarpolicy" style="max-width:100%">
   </div><div class="imagehide">
 <img src="./assets/image-calendar1.png" class="img-fluid h-100 w-100">
  </div>   </div>
   
  <div class="flexedblack mb-2 pt-0 pb-0" style="max-width:100%">
    <span class="f p-2 text-white">VIEW EVENT SCHEDULE </span>
 <button class="tablinksblack is-ghost" (click)="showcontentthis('events');getevents()" matTooltip="View Schedule" matTooltipClass="primarybgd has-text-white is-size-7">
    <img src="./assets/icons/icon_calendar.png" class="btn1"></button> 
</div>


<div class="container-fluid  mt-2 f" style="max-width:100%" *ngIf="showcontacts == 'events'">
  <ul class="flexedblack1 mb-2 mt-2" style="max-width:100%" *ngFor="let event of events">
 <li class="f mb-1" style="max-width:100%" *ngIf="event.Portal_Id__c && event.Portal_Id__c == portalid "> 
    <button class="f tablinksblack is-ghost pt-2 mb-1"   #showevent value="{{event.Id}}" name="{{event.Display_Name__c}}" (click)="showevents(showevent.value);showeventtype(showevent.name);showcontentthis('items')">{{event.Display_Name__c}}</button></li>
 </ul></div>
      
 

    <div   *ngIf="showcontacts == 'items'">
      <a #showrecur  (click)="showrecurthis('weekly')"> <div class="flexed blackborder mb-2 mt-2 pl-2 pt-2 pb-2 f" > WEEKLY EVENTS</div></a>  
   <a   #showrecur  (click)="showrecurthis('none')" > <div class="flexed blackborder  mb-2 mt-2 pl-2 pt-2 pb-2 f" >NON WEEKLY EVENTS </div></a>
     </div>
<div class="container-fluid" *ngIf="showcontacts == 'items' && showrecur == 'weekly'">
        <div class="flexedblack mb-2 mt-2 pl-2 pt-2 pb-2 text-white f" style="max-width:100%" *ngIf="eventtype && eventtype != ''" >       
           RECURRING WEEKLY    </div>
<div class="row">
            <div class="column">
             <img src="./assets/icons/Mondayblue.png" class="btn">
         
               <ul  class="container-fluid" *ngFor="let hour of hours">
            <li class="container-fluid" *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Monday' ">
          
             <div class="card blackborder">
                <div class="card-header primarybgd text-align-center">
                
               <span class="badge secondbgd f text-white"> <i class="fas fa-clock"></i> {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}</span>
               </div>
               <div class="card-body f">
                <p class="primarytext f"><b>{{hour.Display_Name__c}}</b> </p>
                  <p> {{hour.Display_Description__c}}</p>
                  <p *ngIf="hour.Presenter_Display_Name__c"> Presenter: {{hour.Presenter_Display_Name__c}} </p>  
               </div>
               <div class="card-footer f">
                  <span class="badge fourthbgd f text-white"  *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
                    {{hour.Operating_Hours_Type__c}}</span>
                    <span class="badge fourthbgd f text-white" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}</span>    
                </div></div>
             
          </li></ul></div>
          

          <div class="column">
         
            <img src="./assets/icons/Tuesdayblue.png" class="btn">
        
              <ul  class="container-fluid" *ngFor="let hour of hours">
           <li class="container-fluid" *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Monday' ">
         
            <div class="card blackborder">
               <div class="card-header primarybgd text-align-center">
              <span class="badge secondbgd f text-white"> <i class="fas fa-clock"></i>  {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}</span>
              </div>
              <div class="card-body f">
               <p><b>{{hour.Display_Name__c}}</b> </p>
                 <p> {{hour.Display_Description__c}}</p>
                 <p *ngIf="hour.Presenter_Display_Name__c"> Presenter: {{hour.Presenter_Display_Name__c}} </p>  
              </div>
              <div class="card-footer f">
                 <span class="badge fourthbgd f text-white"  *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
                   {{hour.Operating_Hours_Type__c}}</span>
                   <span class="badge fourthbgd f text-white" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}</span>    
               </div></div>
            
         </li></ul></div>
    
         <div class="column">
         
          <img src="./assets/icons/Wednesdayblue.png" class="btn">
      
            <ul  class="container-fluid" *ngFor="let hour of hours">
         <li class="container-fluid" *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Monday' ">
       
          <div class="card blackborder">
            <div class="card-header primarybgd text-align-center">
              <span class="badge secondbgd f text-white"><i class="fas fa-clock"></i>  {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}</span>
            </div>
            <div class="card-body f">
             <p><b>{{hour.Display_Name__c}}</b> </p>
               <p> {{hour.Display_Description__c}}</p>
               <p *ngIf="hour.Presenter_Display_Name__c"> Presenter: {{hour.Presenter_Display_Name__c}} </p>  
            </div>
            <div class="card-footer f">
               <span class="badge fourthbgd f text-white"  *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
                 {{hour.Operating_Hours_Type__c}}</span>
                 <span class="badge fourthbgd f text-white" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}</span>    
             </div></div>
          
       </li></ul></div>
       <div class="column">
         
        <img src="./assets/icons/Thursdayblue.png" class="btn">
    
          <ul  class="container-fluid" *ngFor="let hour of hours">
       <li class="container-fluid" *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Monday' ">
     
        <div class="card blackborder">
          <div class="card-header primarybgd text-align-center">
            <span class="badge secondbgd f text-white"><i class="fas fa-clock"></i> {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}</span>
          </div>
          <div class="card-body f">
           <p><b>{{hour.Display_Name__c}}</b> </p>
             <p> {{hour.Display_Description__c}}</p>
             <p *ngIf="hour.Presenter_Display_Name__c"> Presenter: {{hour.Presenter_Display_Name__c}} </p>  
          </div>
          <div class="card-footer f">
             <span class="badge fourthbgd f text-white"  *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
               {{hour.Operating_Hours_Type__c}}</span>
               <span class="badge fourthbgd f text-white" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}</span>    
           </div></div>
        
     </li></ul></div>
  
     <div class="column">
         
      <img src="./assets/icons/Fridayblue.png" class="btn">
  
        <ul  class="container-fluid" *ngFor="let hour of hours">
     <li class="container-fluid" *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Monday' ">
   
      <div class="card blackborder">
        <div class="card-header primarybgd text-align-center">
          <span class="badge secondbgd f text-white"><i class="fas fa-clock"></i> {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}</span>
        </div>
        <div class="card-body f">
         <p><b>{{hour.Display_Name__c}}</b> </p>
           <p> {{hour.Display_Description__c}}</p>
           <p *ngIf="hour.Presenter_Display_Name__c"> Presenter: {{hour.Presenter_Display_Name__c}} </p>  
        </div>
        <div class="card-footer f">
           <span class="badge fourthbgd f text-white"  *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
             {{hour.Operating_Hours_Type__c}}</span>
             <span class="badge fourthbgd f text-white" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}</span>    
         </div></div>
      
   </li></ul></div>
  
   <div class="column">
         
    <img src="./assets/icons/Saturdayblue.png" class="btn">

      <ul  class="container-fluid" *ngFor="let hour of hours">
   <li class="container-fluid" *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Monday' ">
 
    <div class="card blackborder">
      <div class="card-header primarybgd text-align-center">
        <span class="badge secondbgd f text-white"> <i class="fas fa-clock"></i> {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}</span>
      </div>
      <div class="card-body f">
       <p><b>{{hour.Display_Name__c}}</b> </p>
         <p> {{hour.Display_Description__c}}</p>
         <p *ngIf="hour.Presenter_Display_Name__c"> Presenter: {{hour.Presenter_Display_Name__c}} </p>  
      </div>
      <div class="card-footer f">
         <span class="badge fourthbgd f text-white"  *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
           {{hour.Operating_Hours_Type__c}}</span>
           <span class="badge fourthbgd f text-white" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}</span>    
       </div></div>
    
 </li></ul></div>

 <div class="column">
         
  <img src="./assets/icons/Sundayblue.png" class="btn">

    <ul  class="container-fluid" *ngFor="let hour of hours">
 <li class="container-fluid" *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c == 'Weekly' && hour.Week_Day__c == 'Monday' ">

  <div class="card blackborder">
    <div class="card-header primarybgd text-align-center">
      <span class="badge secondbgd f text-white"> <i class="fas fa-clock"></i> {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}}</span>
    </div>
    <div class="card-body f">
     <p><b>{{hour.Display_Name__c}}</b> </p>
       <p> {{hour.Display_Description__c}}</p>
       <p *ngIf="hour.Presenter_Display_Name__c"> Presenter: {{hour.Presenter_Display_Name__c}} </p>  
    </div>
    <div class="card-footer f">
       <span class="badge fourthbgd f text-white"  *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
         {{hour.Operating_Hours_Type__c}}</span>
         <span class="badge fourthbgd f text-white" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}</span>    
     </div></div>
  
</li></ul></div>

</div></div>

<div *ngIf="showcontacts == 'items' && showrecur == 'none'">
          
          
<div class="flexedblack mb-2 mt-2 pl-2 pt-2 pb-2 text-white f" style="max-width:100%" *ngIf="eventtype && eventtype != ''">       
                NON-RECURRING    </div>
                   <ul class="container-fluid"  *ngFor="let hour of hours">
                  <li class="container-fluid"  *ngIf="hour.Portal_Calendar_Events_Id__c && hour.Portal_Calendar_Events_Id__c == showevent && hour.Is_Recurring__c != 'Weekly' && (hour.Start_Month__c == portalmonthnext || hour.Start_Month__c == portalmonth) && hour.Start_Year__c == portalyear ">
      
                    <div class="row">  <div class="column "> 
    <div class="card blackborder">
 <div class="card-header primarybgd text-align-center">
   <span class="badge secondbgd f text-white"><i class="fas fa-calendar"></i>{{hour.Start_Day__c}}-{{hour.Start_Month__c}}-{{hour.Start_Year__c}}  {{hour.End_Day__c}}-{{hour.End_Month__c}}-{{hour.End_Year__c}}</span><br>
   <span class="badge secondbgd f text-white"><i class="fas fa-clock"></i> {{hour.Start_Hour__c}}:{{hour.Start_Minute__c}} - {{hour.End_Hour__c}}:{{hour.End_Minute__c}} </span> 
 
    </div>
   <div class="card-body f">
   <p><b>{{hour.Display_Name__c}}</b> </p>
     <p> {{hour.Display_Description__c}}</p>
  <p *ngIf="hour.Presenter_Display_Name__c"> Presenter: {{hour.Presenter_Display_Name__c}} </p>  
   </div>
    <div class="card-footer f">
   <span class="badge fourthbgd f text-white"  *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c == 'Operating Hours'">
    {{hour.Operating_Hours_Type__c}}</span>
  <span class="badge fourthbgd f text-white" *ngIf="hour.Portal_Calendar_Events_RecordTypeName__c != 'Operating Hours'">{{hour.Display_Audience__c}}</span>    
     </div></div></div>      </div> 
     </li></ul>
    </div>
                    
                 
   
