<div>
  {{firstDayMonth}}  // {{DayMonth}}  //  {{Day1Monthwekkday}}  // {{date}}
  </div>



  <div id="calendar" *ngIf="calendarmonth" [innerHTML]="calendarmonth">

    </div>
    <div class="grid ml-2 mr-2 h-100">
      
          <div class="column p-3 primarybgd text-white">Monday
           
         
             
                <ul class="container-fluid"   *ngFor="let weekdays of weekdays">   
                  <li class="container-fluid"   *ngIf="weekdays.getDay() == 1">
                    {{weekdays}}  {{weekdays | date:'EEEE'}} </li></ul>
                    


          </div>
          <div class="column p-3 primarybgd text-white">Tuesday</div>
          <div class="column p-3 primarybgd text-white">Wednesday</div>
          <div class="column p-3 primarybgd text-white">Thursday</div>
          <div class="column p-3 primarybgd text-white">Friday</div>
          <div class="column p-3 primarybgd text-white">Saturday</div>
          <div class="column p-3 primarybgd text-white">Sunday</div> 

            </div>
         
                
             
        
            
              