<div class="centered-clear">
    <div *ngFor="let clickitem of clickitem">
        <div *ngIf="clickitem.Portal_Click_Show__r.Show_on_Route__c.includes(thisapproute)">
        
            <div *ngIf="clickitem.Show_Order__c == nextonclick && clickitem.is_End_of_Click_Show__c">
                <div  (click)="restart()"> 
                    <img src="{{clickitem.Image_path__c}}" class="{{clickitem.Portal_Click_Show__r.Click_Show_Size__c}}">
                   </div></div>
    <div  *ngIf="clickitem.Show_Order__c == nextonclick && !clickitem.is_End_of_Click_Show__c">
    <div  (click)="gonext()"> 
        <img src="{{clickitem.Image_path__c}}" class="{{clickitem.Portal_Click_Show__r.Click_Show_Size__c}}">
       </div></div></div></div></div>
