
  

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">



  <div class="container-fluid thirdbgd  has-text-black is-size-7" (mouseover)="updateportaltoday()">
 <div class=" row ml-3">
  {{usercountry}}&nbsp;  {{portaltoday  | date:'fullDate'}} &nbsp; {{portaltoday  | date:'HH:mm:ss'}}  
  </div>
  <div class="row align-items-center pt-3 pb-3">
  <div class="col-sm-4 ">
 <img src="./assets/appheaderlogo1.png">    
 </div> 
 <div class="col-sm-8  btn-group  justify-content-end" role="group">

  
 <button class="button is-ghost" matTooltip="View/Find/Message SMC Contacts" matTooltipClass="primarybgd has-text-white is-size-7"
  (click)="showview('chat')" >     <img src="./assets/icons/icon_message.png" class="btn" > 
 </button>
 
<button class="button is-ghost"  matTooltip="View/Find/Message SMC Contacts" matTooltipClass="primarybgd has-text-white is-size-7"
    (click)="showview('contacts')" >  <img src="./assets/icons/icon_contact.png" class="btn"> </button>  
    
    <button class="button is-ghost" matTooltip="View Training / Presentation Schedule" (click)="showview('calendar')" matTooltipClass=" primarybgd has-text-white is-size-7">
        <img src="./assets/icons/icon_calendar.png" class="btn"  >    </button>
   
        <button class="button is-ghost"matTooltip="View available learning"  (click)="showview('learn')" matTooltipClass=" primarybgd has-text-white is-size-7">
        <img src="./assets/icons/icon_learn1.png" class="btn">    </button>
   
        <button class="button is-ghost" (click)="showview('clickshow')" matTooltip="View Why Learn" matTooltipClass=" primarybgd has-text-white is-size-7">
    <img src="./assets/icons/icon_clickview.png" class="btn" >    </button>
            
 
</div></div></div>
 

  <ng-container  *ngIf="view == 'learn'"> 
    <app-viewlearning [user]="user"  [portal]="portal" [smc]="smc" ></app-viewlearning>    
    </ng-container>      
<ng-container  *ngIf="view == 'contacts'"> 
<app-smc  [user]="user" [usergmt]="usergmt" [portalgmt]="portalgmt" [portal]="portal" [smc]="smc" (view)="showview($event)" (adminid)="portalmessageadminid($event)"></app-smc>    
</ng-container>   

<ng-container  *ngIf="view == 'calendar'">   
<app-schedule [portal]="portal" [portalid]="portalid" [portalgmt]="portalgmt" [usergmt]="usergmt"></app-schedule>     
</ng-container> 

<ng-container  *ngIf="view == 'message'">   
<app-portalmessages  [portalid]="portalid" [user]="user" [adminid]="adminid" ></app-portalmessages>     
</ng-container> 

<ng-container *ngIf="view == 'clickshow'">
 <app-clickshow [thisapproute]="approute" [view]="view"></app-clickshow>
</ng-container>


<div name="overlaycontent" class="is-overlay "    *ngIf="view == 'portalaccept'">

<div class="notification has-background-white  mb-0" style="max-height:60%; overflow-y: auto ; margin-top:15vh"  *ngIf="portalprivacy" [innerHTML]="portalprivacy" >

</div>




<div class="notification has-background-white is-flex mt-0" >
  <div class="column">
<a class="button is-ghost ">
  <img src="./assets/icons/icon_guest.png"  (click)="showview('clickshow');newuser()"> </a>
<br><button class="button is-small is-fullwidth  is-size-6 primaryborder primaryfont" (click)="showview('clickshow');newuser()">SMC Guest Access</button>

  <button  class="button is-small has-background-black has-text-white is-size-6"  (click)="showview('clickshow');testget()"> MICH TEST BUTTON - ONLY DO NOT USE </button>
  </div>

<div class="column">
<a class="button is-ghost ">
<img src="./assets/icons/icon_user.png"  (click)="redirect()"> </a>
<br><button class="button is-small is-fullwidth  is-size-6 primarybgd  has-text-white">SMC Learner Access</button>
</div></div>

</div>







<app-footer></app-footer>

