
  

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">



<div class="container-fluid bg-dark" (mouseover)="updateportaltoday()">    

    <div class="btn-group is-flex is-pulled-right" role="group" >
  <ul>
      <li class=" has-text-black is-size-7"  >  {{usercountry}}&nbsp;  {{portaltoday  | date:'fullDate'}} &nbsp; Current Time: {{portaltoday  | date:'HH:mm:ss'}}  </li>
      <ul *ngFor="let portallink of portallinks">
 
  <li><button class="button is-ghost is-pulled-left"> <img src="https://app.stockmarketcollege.com/assets/email.png" >    </button>
    
    <a href="{{portallink.Link__c}}">
  <span class="icon is-small is-center"> <i class="{{portallink.Display_Icon__c}}"></i></span> </a> </li>

      </ul></ul>
</div>

  <div class="container-fluid">
    <div class="btn-group is-flex is-pulled-right" role="group" >
  <button class="button is-ghost is-pulled-left"> <img src="./assets/appheaderlogo1.png" >    </button>

  <button class="button is-ghost " matTooltip="View/Find/Message SMC Contacts" matTooltipClass=" primarybgd has-text-white is-size-7">
    <img src="./assets/icons/Blue_Icon_talk.png"  (click)="showview('chat')" >    </button>

    <button class="button is-ghost " matTooltip="View/Find/Message SMC Contacts" matTooltipClass=" primarybgd has-text-white is-size-7">
      <img src="./assets/icons/Blue_Icon_contacts.png" (click)="showview('contacts')" >    </button>
   
      <button class="button is-ghost " matTooltip="View Training / Presentation Schedule" matTooltipClass=" primarybgd has-text-white is-size-7">
        <img src="./assets/icons/Blue_Icon_calendar.png"  (click)="showview('calendar')" >    </button>

      <button class="button is-ghost is-pulled-right mt-3" matTooltip="View available learning" matTooltipClass=" primarybgd has-text-white is-size-7">
        <img src="./assets/icons/Blue_Icon_learn1.png" style="width:80px" (click)="showview('learn')" >    </button>

  <button class="button is-ghost is-pulled-right mt-3"  (click)="showview('clickshow')" matTooltip="View Why Learn" matTooltipClass=" primarybgd has-text-white is-size-7">
    <img src="./assets/icons/Blue_Icon_clickview.png" style="width:80px; "  >    </button>
            
 
</div> 
 

  <ng-container  *ngIf="view == 'learn'"> 
    <app-viewlearning [user]="user"  [portal]="portal" [smc]="smc" ></app-viewlearning>    
    </ng-container>      
<ng-container  *ngIf="view == 'contacts'"> 
<app-smc  [user]="user" [usergmt]="usergmt" [portalgmt]="portalgmt" [portal]="portal" [smc]="smc" (view)="showview($event)" (adminid)="portalmessageadminid($event)"></app-smc>    
</ng-container>   

<ng-container  *ngIf="view == 'calendar'">   
<app-schedule [portal]="portal" [portalid]="portalid" [portalgmt]="portalgmt" [usergmt]="usergmt"></app-schedule>     
</ng-container> 

<ng-container  *ngIf="view == 'message'">   
<app-portalmessages  [portalid]="portalid" [user]="user" [adminid]="adminid" ></app-portalmessages>     
</ng-container> 

<ng-container *ngIf="view == 'clickshow'">
 <app-clickshow [thisapproute]="approute" [view]="view"></app-clickshow>
</ng-container>


<div name="overlaycontent" class="is-overlay "    *ngIf="view == 'portalaccept'">

<div class="notification has-background-white  mb-0" style="max-height:60%; overflow-y: auto ; margin-top:15vh"  *ngIf="portalprivacy" [innerHTML]="portalprivacy" >

</div>




<div class="notification has-background-white is-flex mt-0" >
  <div class="column">
<a class="button is-ghost  is-fullwidth">
  <img src="./assets/icons/Blue_Icon_guest.png" style="width:100px" (click)="showview('clickshow');newuser()"> </a>
<br><button class="button is-small is-fullwidth  is-size-6 primaryborder primaryfont" (click)="showview('clickshow');newuser()">SMC Guest Access</button>

  <button  class="button is-small has-background-black has-text-white is-size-6"  (click)="showview('clickshow');testget()"> MICH TEST BUTTON - ONLY DO NOT USE </button>
  </div>

<div class="column">
<a class="button is-ghost is-fullwidth">
<img src="./assets/icons/Blue_Icon_user.png" style="width:100px" (click)="redirect()"> </a>
<br><button class="button is-small is-fullwidth  is-size-6 primarybgd  has-text-white">SMC Learner Access</button>
</div></div>

</div>


</div>




<app-footer></app-footer>

