
   
    
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

 
 <div class="centered-clear mt-1">   
  <div class="centered-clear" *ngIf="smcdetail.Registered_Name__c == ''"> 
    <p  class="loader"></p></div>
  
     <div  *ngIf="smcdetail.Registered_Name__c != ''"class="boxpanel">
     
         <div *ngIf="smcdetail.Registered_Name__c" class="boxpanelheader has-text-centered title is-3">
             <button  mat-raised-button class="button is-ghost " style="text-decoration:none" (click)="showcontent('main')" matTooltipClass=" primarybgd has-text-white is-size-7" >
                 <img src="./assets/icons/Blue_Icon_smc.png" class="pt-3 pb-3" style="width:80px"> </button>    CONTACT US:   </div>
 
                 <div  class=" has-text-centered" (click)="showcontent('main')" >
                     
                   
                     <button mat-raised-button class="button is-ghost" matTooltip="{{smcdetail.Registered_Name__c}} |  {{smcdetail.Directors__c}} " matTooltipClass=" primarybgd has-text-white is-size-7">
                   <img src="./assets/icons/Blue_Icon_info.png" style="width:40px"></button> 
                   <button mat-raised-button class="button is-ghost" matTooltip="{{smcdetail.Address__c}} " matTooltipClass=" primarybgd has-text-white is-size-7" >
                       <img src="./assets/icons/Blue_Icon_address.png" style="width:40px"></button> 
                       <button mat-raised-button class="button is-ghost" matTooltip="View Mobile {{smcdetail.Mobile__c}}" matTooltipClass=" primarybgd has-text-white is-size-7" >
                   <img src="./assets/icons/Blue_Icon_phone.png" style="width:40px"></button>
                   <a href="{{smcdetail.Website__c}}" target="_blank"><button mat-raised-button class="button is-ghost" matTooltip="Open website {{smcdetail.Website__c}}" matTooltipClass=" primarybgd has-text-white is-size-7">
                   <img src="./assets/icons/Blue_Icon_web.png" style="width:40px"></button> </a>
                   <a href="mailto:{{smcdetail.Email__c}}"><button mat-raised-button class="button is-ghost" matTooltip="Send Email {{smcdetail.Email__c}}" matTooltipClass=" primarybgd has-text-white is-size-7">
                   <img src="./assets/icons/Blue_Icon_email.png" style="width:40px"></button> </a> 
                   <button mat-raised-button class="button is-ghost" matTooltip="Send Portal Message" matTooltipClass=" primarybgd has-text-white is-size-7"  #adminid value="{{portalid}}" (click)="message(adminid.value)">
               <img src="./assets/icons/Blue_Icon_portalmessage.png" style="width:40px">  </button> 
                   </div>
 
                   <div class=" mx-5 px-5 py-5">
                    <div class="columns">
                      <div class="column is-9"   *ngIf="contactspolicy" [innerHTML]="contactspolicy" >
                      </div>
                   <div class="column is-3">   <img src="./assets/image-support1.png" style="height:auto" >
                     
                          </div></div></div>


         <button class="button primarybgd is-fullwidth is-small mb-4" (click)="showcontent('divisions')">  <img src="./assets/icons/Blue_Icon_contacts.png" style="width:80px">  </button> 
        
       

         <div  class="is-flex thirdbgd" >
          <ul   *ngFor="let division of divisions">
                   <li *ngIf="division.Portal_DisplayName__c != '' && division.Portal_DisplayName__c == portal && division.Status__c == 'Active'"><button class="button thirdbgd" #showdept value="{{division.Id}}" (click)="showdepartment(showdept.value);showcontent('departments')">{{division.RecordTypeName__c}}</button></li>
                </ul></div>

                <div  class="is-inline" >     
                  <ul  *ngFor="let department of departments">
                  <li  *ngIf=" department.Portal_Division_Id__c == divdepartment "><button class="button thirdbgd " #showdeptstaff value="{{department.Id}}" (click)="showdepartmentstaff(showdeptstaff.value);showcontent('staff')">{{department.Display_Name__c}}</button></li>
              </ul> 
              
              </div>
          
       
              <div  class="thirdbgd" >
    <ul  *ngFor="let admin of admins">
        <li class=" is-inline is-fullwidth mx-auto" *ngIf="admin.Hide_from_Portal_assistance__c != true && admin.Is_default_selection__c != true && admin.Portal_Department_Id__c == divdepartmentstaff  ">      
            
     
              <div class="boxcard thirdbgd is-fullwidth mt-4 mb-6" >
                <div class="columns is-flex is-fullwidth">
 
                    <div class="column is-2 ">   
                  <p *ngIf="admin.Display_Image__c" class="image is-64x64 is-align-items-center">
                    <img src="{{admin.Display_Image__c}}">
                  </p>
                  <p *ngIf="!admin.Display_Image__c"class="image is-64x64">
                    <img class="is-align-items-center" src="./assets/profile.png">
                  </p>
                  <button class="button is-small is-ghost is-fullwidth" matTooltip="Send Portal Message" matTooltipClass=" primarybgd has-text-white is-size-7"  #adminsend value="{{admin.Id}}" (click)="sendportalmessage(adminsend.value);gotomessageview('message')"><img src="./assets/icons/Blue_Icon_portalmessage.png" style="width:80%"></button>                
                </div>
                  <div class="column is-4">
                    <strong>{{admin.Display_Name__c}}</strong> 
                    <p *ngIf="admin.Expert_Area__c" ><i class="fa fa-star" style="font-size:20px;color:blue;"></i> 
                    {{admin.Expert_Area__c}}</p>
                      </div>
                 
                <div class="column is-6">
               <p *ngIf="admin.Display_Mobile__c" ><i class="fa fa-phone" style="font-size:20px;color:blue;"></i> {{admin.Display_Mobile__c}}</p>
               
               <p *ngIf="admin.Display_Email__c" ><i class="fa fa-envelope" style="font-size:20px;color:blue;"></i> {{admin.Display_Email__c}} </p>
           
                <p *ngIf="admin.Display_Website__c" ><i class="fa fa-globe" style="font-size:20px;color:blue;"></i> {{admin.Display_Website__c}}</p>
              </div>
         
              </div></div>
              
            
             
            
          </li></ul>          
              </div>
          </div>
          </div>
 
 
 
 
 
             