/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.primaryfont {
  color:  #003ca6;
}
.primarybgd {
  background-color:  #003ca6;;
}
.primaryborder {
 border:solid 2px #003ca6;
}


.secondfont {
  color:  #4e90fe;
}
.secondbgd {
  background-color:  #4e90fe;;
}
.secondborder {
 border:solid 3px #4e90fe;
}

.thirdfont {
  color:  #e2e3e7;
}
.thirdbgd {
  background-color:  #e2e3e7;;
}
.thirdborder {
 border:solid 2px #e2e3e7;
}


.fourthtext {
  color:  rgb(128, 5, 5);
}
.fourthbgd {
  background-color:  rgb(128, 5, 5);
}
.fourthborder {
 border:solid 2px rgb(128, 5, 5);
}

.tagprimary{
  background-color: #003ca6;
  color:white;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:4px;
  padding-right:4px;
  margin-left:5px;
  margin-right:5px;
  border:solid 2px white;
  border-radius: 1px;
  font-size:10px;
  font-weight: bold;
}

.Viewonly{
    pointer-events: none;
}

.Edit{
    pointer-events: auto;

}
.Hidden{
    display:none; 
} 

    
 .hide{
    display:none;
}
.show{
    display:block;
}


.tooltip {
    background: #003ca6;
    font-size:12px;
    text-align:center;
 
  }
  

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-image: url(/assets/Bull_Icon.png) ;
        background-repeat: no-repeat;
        background-size: 200px 100%;
        background-position: center;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
   
.contentall{
    
    min-height:80vh;
   
 }
 .content-image{  
     min-height:95vh;
 background-image: url(/assets/appbckgdblank.png) ;
 background-repeat: repeat;
 background-size: 100% 100%;
 
 } 
 
 .centered{
     display:flex;
     justify-content: center;
     align-items: center;
     width:100vw;
    background-color:#003ca6;
 }
 .centered-1{
    display:flex;
    justify-content: center;
    align-items: center;
  width:100%;
  
    overflow: auto;
  
}
 
 .centered-clear{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:80vh;
   overflow-y:auto;
   overflow-x:auto;
  }

 .centered-panel{
    display:block;
    justify-content: center;
    align-items: center;
    width:80vw;
    height:80vh;
    
  }

 
 
 .content-header{  
   padding-left:20px;
   padding-right:20px;
   height:10vh;
   background-color: #e2e3e7;
   border-bottom: solid black 4px;
 } 
 .content-headermenu{  
   height:4vh;
   background-color: #e2e3e7;
 } 
 .header-imagesall{  
   padding-top:2px;
   padding-bottom:5px;
   padding-left:20px;
   padding-right:20px;
 display: flex;
 background-color: #e2e3e7;
 } 
 .header-image1{  
   margin-top:10px;
  height:10vh;
  width:80vw;
 background-image: url(/assets/appheaderlogo1.png) ;
 background-repeat: no-repeat;
 background-size: 500px 100%;
 background-position: left;
 } 
 
 .header-blockright{  
   margin-top:10px;
   height:5vh;
  width:20vw; 
  
 } 
 ul {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    padding-left: 10px;
    overflow: hidden;
   
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding-top:8px;
    padding-left: 15px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
 
.boxmain {
    width:100%;
    max-width:1500px;
    background-color: #4e90fe;
    height:60vh;
    padding:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    }

 .boxclear{
  
   display:flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   width:100%;
   height:100%;
   margin-right: auto;
   margin-left: auto;
 }
 
 
 
 .box1{
   border-top:solid black 2px;
   border-bottom:solid black 2px;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom:15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    background-color:white;
    text-align: center;

 }
 
 
 
 .boxpanel {
    display:block;
    justify-content: center;
    align-items: center;
    width:80vw;
    max-height:80vh;
    background-color:#e2e3e7;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    padding-bottom:20px;
  overflow-x:scroll;
  overflow-y:scroll;
    }
    .boxpanel1{
        display:block;
        justify-content: center;
        align-items: center;
        width:100%;
        background-color:#e2e3e7;
        margin-top:10px;
        margin-bottom:10px;
        }

        .boxcard {
          display:block;
         width:100%;
         max-width:1000px;
            height:100%;
        
            justify-content: center;
            align-items: center;
            background-color:#e2e3e7;
         border-top:solid black 5px;
         border-bottom:solid black 5px;
            margin-left:10px;
            margin-right:10px;
            padding-left:10px;
            padding-right:10px;
            padding-top:10px;
            box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
            } 
            .boxcard1 {
              display:block;
             width:100%;
                height:100%;
                background-color:#003ca6;
                padding-left:10px;
               
                padding-top:10px;
                padding-bottom:10px;

              
                } 
      
                .boxcard2 {
                  display:block;
                 width:100%;
                    height:100%;
                    background-color:#e2e3e7;
                    padding-top:10px;
                    padding-bottom:10px;
                    } 

                .boxcard3 {
                  display:block;
                 width:100%;
                    height:100%;
                    background-color:rgb(128, 5, 5);
                    margin-left:1px;
                    margin-right:90px;
                    padding-left:10px;
                    padding-right:10px;
                    padding-top:10px;
              
    
                  
                    } 

                    .boxcard4 {
                      
                     width:100%;
                        height:100%;
                        margin-left:10px;
                        margin-right:50px;
                        padding-left:10px;
                        padding-right:10px;
                        background-color:#003ca6;
                        padding-top:10px;
               
                        } 
      


      .boxpanelheader {
        align-items: center;
        margin-left:10px;
        margin-right:10px;
        margin-top:10px;
        margin-bottom:10px;
        padding-top:20px;
        padding-bottom:20px;
        color:white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color:#003ca6;
        text-decoration: none;
        }
   
 
        .pricebox {
        
          margin-left: auto;
          margin-right: auto;
          align-content: center;
        }
        
 .video-js{
   border: solid #003ca6 2px  !important;
  width:80% !important;
  height:80% !important;
   margin-left: auto !important;
   margin-right: auto !important;
 

 }
 .vjs-custom-theme {
  --vjs-custom-theme--primary: #003ca6 !important;
  --vjs-custom-theme--secondary: #fff !important;
}
 

.vjs-custom-theme .vjs-big-play-button{
  width: 200px !important;
  height: 210px !important;
  background:none!important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
  background-image: url(/assets/icons/videoplay.png) !important;
  background-size: 170px 170px !important;
border:none !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -34px!important;
  margin-left: -84px !important;
  color: white !important;
}

.vjs-custom-theme .vjs-big-play-button .vjs-icon-placeholder {
  display: none !important;
}

/* Control Bar */
.vjs-custom-theme .vjs-button > .vjs-icon-placeholder::before {
  line-height: 1.55 !important;
}

.vjs-custom-theme .vjs-control:not(.vjs-disabled, .vjs-time-control):hover {
  color: var(--vjs-custom-theme--primary) !important;
  text-shadow: var(--vjs-custom-theme--secondary) 1px 0 10px !important;
}

.vjs-custom-theme .vjs-control-bar {
  background: #003ca6 !important;
  margin-bottom: 1em !important; 
  padding-left: 1em !important;
  padding-right: 1em !important; 
  border: solid #003ca6 2px  !important;
}

/* Play Button */
.vjs-custom-theme .vjs-play-control {
  font-size: 0.8em !important;
 
}

.vjs-custom-theme .vjs-play-control .vjs-icon-placeholder:before {
  background-color: var(--vjs-custom-theme--secondary) !important;
  height: 1.5em !important;
  width: 1.5em !important;
  margin-top: 0.2em !important;
  border-radius: 1em !important;
  color: var(--vjs-custom-theme--primary) !important;
}

.vjs-custom-theme .vjs-play-control:hover .vjs-icon-placeholder:before {
  background-color: var(--vjs-custom-theme--primary) !important;
  color: var(--vjs-custom-theme--secondary)!important;
}

/* Volume stuff */
.vjs-custom-theme .vjs-mute-control {
  display: block !important;
}

.vjs-custom-theme .vjs-volume-panel {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
  padding-top: 0.3em !important;
}

.vjs-custom-theme .vjs-volume-panel,
.vjs-custom-theme .vjs-volume-panel:hover,
.vjs-custom-theme .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal,
.vjs-custom-theme .vjs-volume-panel:active .vjs-volume-control.vjs-volume-horizontal,
.vjs-custom-theme .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
.vjs-custom-theme .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active,
.vjs-custom-theme .vjs-volume-bar.vjs-slider-horizontal {
  width: 3em !important;
}

.vjs-custom-theme .vjs-volume-level::before {
  font-size: 1em !important;
}

.vjs-custom-theme .vjs-volume-panel .vjs-volume-control {
  opacity: 1 !important;
  width: 100% !important;
  height: 100%  !important;
}

.vjs-custom-theme .vjs-volume-bar {
  background: none !important;
  margin: 0 !important;
}

.vjs-custom-theme .vjs-slider-horizontal .vjs-volume-level {
  height: 100% !important;
}

.vjs-custom-theme .vjs-volume-bar.vjs-slider-horizontal {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 100% !important;
}

.vjs-custom-theme .vjs-volume-bar::before {
  content: '' !important;
  z-index: 0 !important;
  width: 0 !important;
  height: 0 !important;
  position: absolute !important;
  top: 0px !important;
  left: 0 !important;

  border-style: solid !important;
  border-width: 0 0 2em 3em !important;
  border-color: transparent transparent var(--vjs-custom-theme--primary) transparent !important;
}

.vjs-custom-theme .vjs-volume-level {
  overflow: hidden !important;
  background-color: transparent !important;
}

.vjs-custom-theme .vjs-volume-level::before {
  content: '' !important;
  z-index: 1 !important;
  width: 0 !important;
  height: 0 !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;

  border-style: solid !important;
  border-width: 0 0 2em 3em !important;
  border-color: transparent transparent var(--vjs-custom-theme--secondary) transparent  !important ;
}

/* Progress Bar */
.vjs-custom-theme .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1em  !important;
}

.vjs-custom-theme .vjs-play-progress::before {
  display: none  !important;
}

.vjs-custom-theme .vjs-progress-holder {
  border-radius: 0.2em  !important;
  height: 0.5em  !important;
  margin: 5em  !important;
}

.vjs-custom-theme .vjs-play-progress,
.vjs-custom-theme .vjs-load-progress,
.vjs-custom-theme .vjs-load-progress div {
  border-radius: 0.2em  !important;
}
